h1 {
    font-size: 60px;
    text-align: center;
}

p {
    text-align: center;
}

ul {
    text-align: center;
}

#image {
    position: relative;
}

#image img {
    position: absolute;
    top: 0px;
    right: 0px;
}

body {
    background-color: #D3D3D3;
}